.bookslist__items {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
}

.bookslist__item {
    display: grid;
    grid-template-columns: 400px 1fr 1fr;
    grid-template-rows: minmax(40px, auto);
    gap: 15px;
    font-size: 18px;
    font-weight: 400;
    word-break: break-word;
    border-top: 1px solid black;
    align-items: center;
    &-status {
        width: 30px;
        justify-self: center;
    }
}