.bookslist__items {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
}

.bookslist__item {
    display: grid;
    grid-template-columns: 400px 1fr 1fr;
    grid-template-rows: minmax(40px, auto);
    gap: 15px;
    font-size: 18px;
    font-weight: 400;
    word-break: break-word;
    border-top: 1px solid black;
    align-items: center;
    padding: 3px 10px;
    &:hover {
        background-color: rgba(255, 222, 181, 0.588);
    }
    cursor: pointer;
    &-status {
        width: 30px;
        justify-self: center;
    }
}

.bookskist__item-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    width: 100%;
    height: 0px;
    animation-name:dropDown;
    animation-duration:2s;
    animation-fill-mode:both;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    opacity: 0;
    img {
        margin-left: 20px;
        width: 25px;
        opacity: 0;
        animation-name: authorName;
        animation-duration: 1s;
        animation-fill-mode: both;
        cursor: pointer;
    }
}

.bookskist__item-author {
    opacity: 0;
    animation-name: authorName;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes dropDown {
    from {opacity: 0; height: 0px; padding: 0 10px;}
    to {opacity: 1; height: 40px; padding: 5px 10px;}
}

@keyframes authorName {
    from {oopacity: 0} 
    35%{opacity: 0}
    to {opacity: 1}
}

